    
div.header
  
  div.header-text
    h1.welcome
      | Thanks for stopping by !
    p 
      | I’m Kayla and I’m a geospatial analyst/developer/person 
      | focused on getting government to work better and deeply 
      | interested in maps. In April 2016, my master’s research was published in 
      i Extractive Industries and Society 
      | as an original research paper. 

br 

div.lists
  div.section
    h2
      | Selected Projects
          
    each project, slug in public.projects._data
      div
        ul
          li
            a(href=project.slug) #{ project.title }
  
  div.section
    h2
      | Recent Work 
    
    each job in work
      div
        ul
          li.job-place=job.title 
            p.job-details=job.place + ", " + job.time
            
  //- div.section
  //-   h2
  //-     | Contact 
  //- 
  //-   each item in contact
  //-     div
  //-       ul
  //-         li
  //-           a(href=item.link) #{ item.text }
  
      
      
              
                
  
    
        
        
