    
div
  h3.welcome
    | Thanks for stopping by!
  p 
    | I’m Kayla and I’m a geospatial analyst/developer/person 
    | focused on getting government to work better and deeply 
    | interested in maps. In April 2016, my master’s research was published in 
    i Extractive Industries and Society 
    | as an original research paper. 

br 

div.lists
  //- div.thumbs
  //-   each project, slug in public.projects._data
  //-     div
  //-       img.thumb-img(src="/projects/img/thumbs/" + project.thumb alt=project.title)
  //-       p
  //-         a(href="/projects/" + slug) #{ project.title }
  div.section
    h4
      | Selected Projects
    each project, slug in public.projects._data
      div
        //img.thumb-img(src="/projects/img/thumbs/" + project.thumb alt=project.title)
        p
          a(href="/projects/" + slug) #{ project.title }
    
  div.section
    h4
      | Recent Work 
    each job in work
      div.jobs
        p.job-title=job.title 
        p.job-details=job.place + ", " + job.time
        br
  
      
      
              
                
  
    
        
        
