// title mixin
mixin project_title(title, subtitle)
  div.project-title
    h2=title
        h4=subtitle
            hr

// Image mixin
mixin image(file, alt, subtitle)
    div
        img(src="../projects/img/" + file alt=alt class="img-responsive")
        strong=alt
        p=subtitle
        
// large image mixin
mixin image_large(file, alt, subtitle)
    .caption
        img(src="../projects/img/" + file alt=alt class="img-responsive")
        p.img-subtitle=subtitle
    
